<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="jsfgenerator.popupmenu"
         point="org.eclipse.ui.popupMenus">
          <objectContribution
                adaptable="true"
                id="jsfgenerator.ui.actions.generationaction"
                objectClass="org.eclipse.core.resources.IFile">
     <menu
           id="jsfgenerator.ui.actions.menu"
           label="JSF Tools"
           path="jsfgenerator.ui.actions.groupmaker">
        <separator
              name="jsfgenerator.ui.menus.separator">
        </separator>
     </menu>
	    <action
           class="jsfgenerator.ui.actions.GenerationAction"
           definitionId="jsfgenerator.ui.generationaction"
           enablesFor="1"
           id="jsfgenerator.ui.generationaction"
           label="Generate view and controller"
           menubarPath="jsfgenerator.ui.actions.menu">
	    </action>
	 </objectContribution>
          
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <editor
         		class=""
         		contributorClass=""
         		default="true"
         		icon=""
         		id=""
         		name="TagFactoryEditor">
         </editor>
   </extension>

</plugin>
