<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="jsfgenerator.popupmenu"
         point="org.eclipse.ui.popupMenus">
          <objectContribution
                adaptable="true"
                id="jsfgenerator.ui.actions.generationaction"
                objectClass="org.eclipse.core.resources.IResource">
     <menu
           id="jsfgenerator.ui.actions.menu"
           label="JSF Tools"
           path="jsfgenerator.ui.actions.groupmaker">
        <separator
              name="jsfgenerator.ui.menus.separator">
        </separator>
     </menu>
	 	<action
           class="jsfgenerator.ui.actions.GenerationAction"
           definitionId="jsfgenerator.ui.generationaction"
           enablesFor="+"
           icon="resource/images/applications-system.png"
           id="jsfgenerator.ui.generationaction"
           label="Generate view and controller"
           menubarPath="jsfgenerator.ui.actions.menu">
	    </action>
	    <action
           class="jsfgenerator.ui.actions.ValidationAction"
           definitionId="jsfgenerator.ui.validationaction"
           enablesFor="+"
           icon="resource/images/applications-system.png"
           id="jsfgenerator.ui.validationaction"
           label="Validate view descriptor"
           menubarPath="jsfgenerator.ui.actions.menu">
	    </action>
	 </objectContribution>
          
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <editor
         		class=""
         		contributorClass=""
         		default="true"
         		icon=""
         		id=""
         		name="TagFactoryEditor">
         </editor>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.facets">
      <project-facet
            id="jsfgenerator-project-facet">
         <label>
            View and controller generation facet
         </label>
         <description>
            Enables to generate JSF views and controllers by the project&apos;s model.
         </description>
      </project-facet>
      <project-facet-version
            facet="jsfgenerator-project-facet"
            version="1.0">
            <constraint>
         	<or>
                <requires
           	         facet="jst.ear"
       	             version="[5.0">
   	            </requires>
                <requires
           	         facet="jst.ejb"
       	             version="[3.0">
   	            </requires>
                <and>
	               <requires
            	         facet="jst.web"
        	             version="[2.5">
    	           </requires>
	               <requires
            	         facet="jst.jsf"
        	             version="[1.2">
    	           </requires>
	               <requires
            	         facet="jst.java"
        	             version="[5.0">
    	           </requires>
	            </and>
         	</or>
         </constraint>
            <action
                  facet="jsfgenerator-project-facet"
                  id="jsfgenerator-project-facet-1.0.install"
                  type="install"
                  version="1.0">
               <delegate
                     class="jsfgenerator.ui.wizards.MVCFacetInstallDelegate">
               </delegate>
               <config-factory
                     class="jsfgenerator.ui.wizards.JSFGenInstallConfig$Factory">
               </config-factory>
            </action>
      </project-facet-version>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.presets">
      <static-preset
            extends="default.configuration"
            id="jsfgenerator-preset">
         <label>
            Dynamic Web Project with JSFGen
         </label>
         <description>
            JSFGen enables you to generate JSF views and controllers by the application model via generation tools.
         </description>
         <facet
               id="jsfgenerator-project-facet"
               version="1.0">
         </facet>
         <facet
               id="jst.jsf"
               version="1.2">
         </facet>
         <facet
               id="jst.web"
               version="2.5">
         </facet>
         <facet
               id="jst.java"
               version="5.0">
         </facet>
      </static-preset>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.images">
      <image
            facet="jsfgenerator-project-facet"
            path="resource/images/applications-system.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.core.runtimes">
      <supported>
         <facet
               id="jsfgenerator-project-facet"
               version="[1.0">
         </facet>
         <runtime-component
               any="true"></runtime-component>
      </supported>
   </extension>
   <extension
         point="org.eclipse.wst.common.project.facet.ui.wizardPages">
      <wizard-pages
            action="jsfgenerator-project-facet-1.0.install">
         <page
               class="jsfgenerator.ui.wizards.wizardpages.EJBProjectSelectionWizardPage">
         </page>
      </wizard-pages>
   </extension>

</plugin>
